<!DOCTYPE html>
<html>
    <head>
        <title>Crear Regla</title>
    </head>
    <body>
        <h1>Crear nueva Regla</h1>
        <form method="post" action="{% url 'regla_create' %}">
            {% csrf_token %}
            <label for="nombre">Nombre de la regla:</label>
            <input type="text" id="nombre" name="nombre" required><br><br>

            <label for="condicion">Condición:</label>
            <input type="text" id="condicion" name="condicion" required><br><br>

            <label for="sensor_asociado">Sensor Asociado:</label>
            <select id="sensor_asociado" name="sensor_asociado" required>
                {% for sensor in sensores %}
                <option value="{{ sensor.id }}">{{ sensor.nombre }}</option>
                {% endfor %}
            </select><br><br>

            <label for="accion">Acción:</label>
            <input type="text" id="accion" name="accion" required><br><br>

            <label for="switch_asociado">Switch Asociado:</label>
            <select id="switch_asociado" name="switch_asociado"
                required>
                {% for switch in switches %}
                <option value="{{ switch.id }}">{{ switch.nombre }}</option>
                {% endfor %}
            </select><br><br>

            <button type="submit">Crear Regla</button>
        </form>
    </body>
</html>
