<!DOCTYPE html>
<head>
    <title>Crear nuevo Switch</title>
</head>
<body>
    <h1>Crear nuevo Switch</h1>
    <form method="post">
        {% csrf_token %}
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br><br>

        <label for="state">Estado:</label>
        <select id="state" name="state" required>
            <option value="ON">ON</option>
            <option value="OFF">OFF</option>
        </select><br><br>

        <button type="submit">Crear Switch</button>
    </form>
</body>
</html>

